@page
@model MyApp.Namespace.MapModel
@{
    Layout = "_MapLayout"; // don't use /Shared/_Layout.cshtml
}
@section Includes{
    <!-- mapbox includes -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css" rel="stylesheet" />
    <style>
        body { margin: 0; padding: 0; }
        #map { position: absolute; top: 0; bottom: 0; width: 100%; }

        .marker {
            display: block;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            padding: 0;
        }
    </style>
}
@section Scripts{
    <script>
    @* https://docs.mapbox.com/mapbox-gl-js/example/geojson-markers/ *@
    mapboxgl.accessToken = 'pk.eyJ1IjoiZHM1ZXhwemFiaTZ2Y290dmJsOGQiLCJhIjoiY2s1dnF6YXdiMTBudjNtbWM5cnNhb2I1NCJ9.pyXawY1GuU3ixXc6ys23OQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: [-96, 37.8],
        zoom: 3
    });
    @* https://docs.mapbox.com/mapbox-gl-js/example/add-image/ *@
    map.on('load', function() {
        map.loadImage(
            '/img/azure.png',
            function(error, image) {
                if (error) throw error;
                map.addImage('azure', image);
                map.addLayer({
                    id: 'azure',
                    source: {
                        type: 'geojson',
                        data: 'GeoJson' // request from GeoJson route on the localhost
                    },
                    type: 'symbol',
                    paint: {
                        // Mapbox Style Specification paint properties
                    },
                    layout: {
                        'icon-image': 'azure',
                        'icon-size': 0.5,
                        // Mapbox Style Specification layout properties
                        'text-field': ['get', 'region'],
                        'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
                        'text-offset': [0, 0.8],
                        'text-anchor': 'top'
                    }
                });

            });

        map.addControl(new mapboxgl.FullscreenControl({container: document.querySelector('body')}));
    });
    </script>
}
<div id='map'></div>